.header{
	margin-top: 30px;

}
.margintop{
	margin-top: 20px;
}

table thead tr th{
	text-align: center;
}

.buttonc{
	text-align: center;
}
.buttton{
		text-align: center;
}
.textalign{
  text-align: right;
}